.blogs-section {
  background: black;
  padding: 100px 40px;
  color: white;
}

.blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}
