.navbar {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 100;
}

.navbar.active {
  position: fixed;
  top: 0;
  background: rgb(25, 25, 25);
  z-index: 100;
}

.navbar,
.navbar.active {
  transition: background 300ms ease-in-out;
}

.mobile-side-nav,
.mobile-side-nav-hidden {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px 10px;
  z-index: 2;
  transition: all 250ms ease-in-out;
}

.mobile-side-nav-hidden {
  transform: translateX(200%);
}

.mobile-side-nav {
  transform: translateX(0);
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-single-link {
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.nav-single-link:hover {
  color: rgb(235, 69, 76);
  border-bottom: 1px solid rgb(235, 69, 76);
  transition: all 300ms ease-in-out;
}

.navbar-social-icons-container {
  display: flex;
  height: 30px;
}

.social-icon {
  fill: rgb(233, 233, 233);
  width: 30px;
  height: 30px;
  transition: all 200ms ease-in-out;
  margin: 0 10px;
}

.social-icon:hover {
  fill: rgb(235, 69, 76);
  transform: translateY(-5px);
  transition: all 200ms ease-in-out;
}

.menu-close-icon {
  margin: 0;
}

.menu-close-icon:hover,
.menu-open-icon:hover {
  transform: translateY(0);
  cursor: pointer;
}

.menu-close-icon-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .mobile-side-nav,
  .mobile-side-nav-hidden {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .menu-close-icon-container,
  .menu-close-icon,
  .menu-open-icon {
    display: none;
  }

  .mobile-side-nav,
  .mobile-side-nav-hidden {
    position: static;
    transform: translateX(0);
    height: auto;
    background: none;
    padding: 0;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    border-spacing: 20px;
    border-collapse: collapse;
  }

  .nav-single-link {
    border-bottom: none;
    margin: 0;
    padding-top: 10px;
  }

  .nav-single-link:hover {
    border-bottom: none;
  }
}
